@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

h2,
h3 {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 28px;
}

span {
    font-family: "Noto Sans KR", sans-serif;
}

p {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 500;
    transition: top 0.7s ease-in-out;
}

.header--hidden {
    top: -85px;
}

.header_inner {
    height: 100%;
    margin: 0 32px;
    position: relative;
}

#logo {
    width: 120px;
    position: absolute;
    top: 25px;
    left: 0;
    margin: 0;
}

#logo:hover {
    cursor: pointer;
}

#logo img {
    width: 120px;
}

.menu-container {
    position: relative;
    text-align: center;
    width: 1500px;
    margin: 0 auto;
}

#menu {
    display: inline-block;
    padding: 0;
}

#menu li {
    display: inline-block;
    vertical-align: middle;
}

#menu li a {
    padding: 13px 30px;
    position: relative;
    font-size: 18px;
    line-height: 65px;
    font-weight: 400;
}

.sub-menu {
    position: absolute;
    top: 20px;
    right: 10px;
}

.sub-menu li {
    display: inline-block;
    vertical-align: middle;
}

.checkart {
    background-color: #000;
    border-radius: 100px;
}

.checkart span {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
}

.sub-menu li a {
    padding: 13px 16px;
    position: relative;
    font-size: 17px;
}

.main-wrap {
    height: 100vh;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

.main-container {
    background-color: white;
}

.main_slogan {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: calc(50% - 25rem);
}

.main_img {
    width: 1500px;
    height: 820px;
    position: absolute;
    bottom: 0;
}

.main_img img {
    width: 1500px;
    height: 820px;
}

.main-artwork {
    padding: 150px 0 190px;
}

.main-artwrok-wrap {
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
}

.main-artwork_slogan {
    margin-bottom: 150px;
}

.main-artwork-more a {
    font-weight: 500;
    font-size: 17px;
}

.main-artwork-more {
    width: 213px;
    position: absolute;
    right: 0;
    top: 145px;
}

.main-artwork-more img {
    width: 80px;
    margin-left: 10px;
}

.artwork-list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
}

.swiper-slider img {
    width: 742px;
}

.allswiperbutton {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.allswiperbutton:hover {
    cursor: pointer;
}

.allswiperbutton img {
    width: 40px;
}

.swiper-prev {
    width: 40px;
}

.swiper-next {
    width: 40px;
}

.swiper-pagination {
    --swiper-theme-color: #eee;
    bottom: 15px !important;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
}

.main-program {
    background-color: #000;
    padding: 150px 0;
    color: #fff;
}

.main-program-wrap {
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
}

.main-program_slogan {
    color: #fff;
    margin-bottom: 80px;
    text-align: initial;
}

.border {
    border-bottom: 0.5px solid #656565;
}

.main-program-img {
    width: 1500px;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.main-program-img img {
    width: 1500px;
}

.main-program-infor {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 494px;
}

.main-program-sub span {
    display: flex;
    font-weight: 300;
}

.main-program-sub span:first-child {
    font-weight: 600;
    margin-bottom: 20px;
}

.main-program-title {
    text-align: initial;
    font-size: 20px;
}

.main-program-button {
    cursor: pointer;
}

.main-program-button img {
    width: 30px;
}

.main-place {
    padding: 150px 0;
}

.main-place-wrap {
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
}

.main-place_slogan {
    margin-bottom: 80px;
}

.main-place-contents {
    display: flex;
    justify-content: space-between;
}

.main-contents-img {
    width: 490px;
    height: 650px;
    overflow: hidden;
}

.main-contents-img img {
    width: 1000px;
}

.main-contents-img img {
    transition: transform 0.4s ease-in-out;
}

.main-contents-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.main-contents-title {
    margin-top: 20px;
    text-align: initial;
}

.museum {
    font-size: 20px;
}

.address {
    font-size: 18px;
    color: #a4a4a4;
}

#footer {
    width: 100%;
    padding: 25px 0 120px;
    position: relative;
    background-color: #111;
}

.footer-wrap {
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
}

.footer-top {
    padding-bottom: 25px;
    border-bottom: 1px solid #a4a4a4;
}

#footer-menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#footer-menu span {
    color: #fff;
    font-weight: 300;
}

.footer_menu-container {
    width: 350px;
}

.footer-logo {
    width: 120px;
    position: absolute;
    top: 85px;
    left: 0;
    margin: 0;
}

.footer-logo img {
    width: 120px;
    filter: invert();
}

.footer-bottom {
    color: #fff;
    padding: 40px 0;
}

.footer-address {
    text-align: initial;
    position: absolute;
    left: 184px;
    color: #c0c0c0;
    font-weight: 300;
}

.copyright {
    position: absolute;
    top: 160px;
    border-top: 1px dashed #a4a4a4;
    padding: 15px 0;
    margin-top: 15px;
    font-weight: 200;
}

/*---------------------------------------------------- ArtworkAll css ------------------------------------------------- */

#ArtworkAll_main {
    padding: 150px 0 20px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

.filter-name {
    margin-bottom: 30px;
}

.filter-top-list-place li {
    margin: 10px 0;
}

.filter-top-list-place li a {
    color: #AEAEAE;
}

.filter-top-list-place li a.selected {
    color: #000;
    font-weight: 400;
}

.art-date-list li a {
    color: #AEAEAE;
}

.art-date-list li a.selected {
    color: #000;
    font-weight: 400;
}

.alert_art {
    font-size: 18px;
    font-weight: 300;
}

.borderline {
    border-bottom: 1px solid #ececec;
    margin: 30px 0 30px;
    width: 250px;
}

.art-date-list {
    display: flex;
}

.art-date-list li {
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
}

.art-date-list li a {
    color: #8b8b8b;
}

.artlist-wrap img {
    width: 570px;
}

.artlist-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
}

.artlist-img li {
    position: relative;
}

.artfilter {
    padding: 10px;
    width: 400px;
    text-align: initial;
}

.article-info {
    display: flex;
    font-size: 18px;
    margin-top: 10px;
    justify-content: space-between;
}

.title {
    margin-right: 100px;
    font-weight: 400;
}

.date {
    color: #868e96;
    font-weight: 400;
}

/*---------------------------------------------------- ArtworkInfo css ------------------------------------------------- */
#ArtworkInfo_main {
    padding: 110px 0 20px;
}

.artmainimg {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.artmainimg img {}

.artworkinfo {
    padding: 50px 0;
}

.artworkinfo-wrap {
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

.infotext-list li {
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    margin-bottom: 100px;
    justify-items: start;
    padding-right: 100px;
}

.infotext-list span {
    font-size: 20px;
}

.infotext-list li p {
    text-align: initial;
    font-size: 18px;
    /* font-weight: 300; */
    word-break: keep-all;
    line-height: 27px;
}

.heart-button {
    margin-top: 10px;
    width: 200px;
    height: 45px;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 0%;
    border: 1px solid;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: start;
    padding-left: 20px;
    cursor: pointer;
}

.heart-button.selected {
    background-color: #fff;
    color: #8B8B8B;
    border: 1px solid #8B8B8B;
}

.heart-button.selected img{
    filter: brightness(0.5);
}

.modal_textwrap {
    margin: 50px 0 40px 0;
    text-align: center;
}

.modal_text {
    font-size: 20px;
}

.modal_button {
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.modal_button button {
    padding: 0 10px;
    border-radius: 0;
    width: 200px;
    height: 45px;
    font-size: 15px;
    border: 1px solid #8B8B8B;
    background-color: #fff;
    color: #8B8B8B;
    cursor: pointer;
}

.modal_button button:first-child {
    color: #fff;
    background-color: #000;
}




.infotext-list img {
    width: 972px;
}

.programinfo-wrap {
    padding: 110px 0 90px;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.programinfo-title {
    text-align: initial;
}

.infoimg img {
    width: 719px;
}

.programinfo-text {
    padding: 20px 0;
    text-align: initial;
}

.programinfo-text-span {
    font-size: 20px;
    margin-bottom: 8px;
}

.programinfo-text p {
    font-size: 18px;
    font-weight: 400;
}

.programinfo-list {
    list-style: disc;
    padding: 15px 23px;
    font-size: 18px;
    line-height: 27px;
}

.program-btn {
    width: 725px;
    height: 55px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: start;
    padding: 0px 20px;
    cursor: pointer;
}

/*---------------------------------------------------- ProgramInfo css ------------------------------------------------- */
.animated-title {
    font-size: 17px;
    font-weight: 300;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000;
    color: #fff;
}

.animated-title .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 50s linear infinite;
    line-height: 50px;
}

@keyframes marquee {
    from {
        transform: translateX(140%);
    }

    to {
        transform: translateX(-100%);
    }
}





/*---------------------------------------------------- Reservation css ------------------------------------------------- */
.res-header {
    width: 100%;
    height: 85px;
    position: relative;
    top: 50;
    left: 0;
    background-color: white;
    z-index: 500;
    transition: top 0.7s ease-in-out;
}

.res-header_inner {
    height: 100%;
    margin: 0 32px;
    position: relative;
}

.reservation-list-wrap img {
    width: 450px;
}

#Reservaton_main {
    padding: 50px 0 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.reservation-list-wrap {
    background-color: #EDEDED;
    display: grid;
    justify-items: center;
    padding: 20px 10px;
}

.reservation-list-title {
    width: 450px;
    text-align: initial;
    margin: 15px 0 10px 0;
    font-size: 19px;
}

.reservation-list-info {
    width: 250px;
    text-align: initial;
    color: #333333;
    font-weight: 300;
    font-size: 17px;
}

.reservation-list-price {
    width: 200px;
    text-align: right;
    color: #000;
    font-size: 17px;
    font-weight: 300;
}

.reservation-list .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.reservatonAll {
    display: flex;
    justify-content: space-evenly;
}

.reservation-list-btn-wrap {
    width: 450px;
    text-align: right;
}

.reservation-list-btn {
    width: 140px;
    height: 41px;
    font-size: 15px;
    margin-top: 25px;
    background-color: transparent;
    color: #000;
    border: 0.5px solid #000;
    cursor: pointer;
}

.reservation-list-btn:hover {

    background-color: #000;
    color: #fff;
}

.rest {
    padding: 70px 0;
}

.rest h3 {
    text-align: initial;
    font-size: 24px;
    margin-bottom: 20px;
}

.restlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.restlist-info {
    width: 486px;
    height: 200px;
    overflow: hidden;
}

.restlist-info img {
    width: 486px;
}

.restlist-span {
    width: 486px;
    text-align: initial;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.restlist-span span {
    font-size: 18px;
}

.restlist-btn {
    width: 130px;
    height: 35px;
    border: 1px solid #D9D9D9;
    background-color: transparent;
    cursor: pointer;
}

.menulink {
    color: #9C9C9C;
}

.menulink.on {
    color: #000;
    font-weight: 500 !important;
}
.modal_titlewrap{
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal_title{
    font-size: 20px;
}
.modal_img{
    text-align: center;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}
.modal_img img{
    width: 650px;
    height: 400px;
}
.modal_text_info{
    margin: 20px ; 
    margin-bottom: 60px;
}
.modal_text_info p{
    width: 650px;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
}




/*---------------------------------------------------- ReservationInfo css ------------------------------------------------- */
#ReservationInfo_main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.ReservationInfo_wrap {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.reserInfo-ticket {
    width: 400px;
    font-size: 18px;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.2);
    height: 535px;
}

.reserInfo-ticket img {
    width: 400px;
}

.reserInfo-ticket div {
    width: 340px;
    text-align: initial;
    padding: 7px 30px;
}

.reserInfo-ticket .title {
    margin-top: 10px;
}

.title_hr {
    border: 0px;
    border-top: 1px dashed #333333;
    margin-top: 12px;
}

.reserInfo-ticket .place {
    margin-top: 10px;
    color: #616161;
}

.info_hr {
    border: 0px;
    border-top: 1px solid #EDEDED;
    width: 350px;
    margin-top: 12px;
}

.reserInfo-ticket .date {
    margin-top: 10px;
    color: #616161;
}

.reserInfo-ticket .people {
    margin: 12px 0;
    color: #616161;
}

.reservationInfo-choice {
    background-color: #F3F3F3;
    width: 1008px;
    padding: 30px;
}

.rdp {
    background-color: #fff;
    width: 282px;
    padding: 10px;
}

.rdp {
    --rdp-cell-size: 40px;
    --rdp-caption-font-size: 18px;
    --rdp-accent-color: #000 !important;
    --rdp-background-color: #e7edff;
    --rdp-accent-color-dark: #ff0bc2 !important;
    --rdp-background-color-dark: #2bff00 !important;
    --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused elements */
    --rdp-outline-selected: 3px solid var(--rdp-accent-color);
    /* Outline border for focused _and_ selected elements */
}

.rdp-caption {
    font-family: 'Montserrat', sans-serif;
}

.rdp-caption_label {
    font-weight: 500 !important;
}

.rdp-button_reset {
    font-family: 'Montserrat', sans-serif !important;
}

.rdp-head_row {
    font-size: 20px;
    font-weight: 400 !important;
}

.rdp-head_cell {
    font-weight: 500 !important;
}

.reservationInfo-choice-left {
    display: grid;
    grid-template-rows: 1.4fr 1fr;
}

.reservationInfo-choice-wrap {
    display: flex;
}


.counter-span {
    width: 302px;
    margin: 0 auto;
    text-align: initial;
    font-size: 18px;
    margin-bottom: 10px;
}

.counter-box {
    width: 282px;
    padding: 10px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    height: 45px;
    align-items: center;
}

.conter-bg {
    display: flex;
    background-color: #E7E7E7;
    width: 131px;
    height: 36px;
    justify-content: space-around;
    line-height: 28px;
    align-items: center;
    font-size: 15px;
}

.counter-box p {
    line-height: 28px;
    /* font-weight: 300; */
    margin-right: 20px;
}

.conter-bg button {
    border: none;
    background-color: #E7E7E7;
    font-size: 19px;
    margin-left: 5px;
    cursor: pointer;
}

.information-wrap {
    background-color: #fff;
    margin: 1rem;
    padding: 25px 30px;
}

.information-span {
    width: 100%;
    text-align: initial;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.information-wrap {
    text-align: initial;
    word-break: keep-all;
}

.information-wrap p {
    margin: 13px 0;
    color: #656565;
}

.hr {
    border: 0px;
    border-top: 2px dashed #EDEDED;
}

.information-resbtn {
    width: 660px;
    text-align: right;
    margin-top: 100px;
}

.information-resbtn button {
    width: 200px;
    height: 45px;
    font-size: 15px;
    margin-top: 25px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}



/*---------------------------------------------------- ReservationlIST css ------------------------------------------------- */

#ReservationList_main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0 20px;
    display: flex;
    gap: 30px;
}

.reservationlist-span {
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-bottom: 12px;
}

.reservationList-img {
    padding: 42px 20px;
}

.reservationList-img img {
    width: 500px;
}

.reservationlist_wrap {
    padding: 10px 35px 50px;
    background-color: #F3F3F3;
}

.tabs {
    display: flex;
    width: 889px;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.tabs li {
    width: 120px;
    height: 50px;
    line-height: 50px;
}

.tabs li:hover {
    border-bottom: 1px solid #111;
}

.tabs li.active {
    border-bottom: 1px solid #111;
}



/*---------------------------------------------------- ReservationlistAll css ------------------------------------------------- */
.MyReserArt {
    margin-top: 25px;
    background-color: #F8F8F8;
    display: flex;
    height: 220px;
    align-items: center;
    padding: 5px 20px;
    gap: 35px;
    text-align: left;
    border: 1px solid #E5E5E5;
}

.MyReserArt-img {
    height: 184px;
}

.MyReserArt-img img {
    width: 250px;
    height: 184px;
}

.MyReserArt-info {
    height: 184px;
}

.MyReserArt-info .box {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.box-info {
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 28px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
}

.box-state {
    width: 70px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 2px;
}

.MyReserArt-info .title {
    font-size: 20px;
    margin-bottom: 10px;
}

.MyReserArt-info .date {
    color: #333333;
    margin-bottom: 57px;
}

.reservation-date {
    color: #656565;
}


/*---------------------------------------------------- HeartWork css ------------------------------------------------- */
#HeartArtwork_main{
    max-width: 1500px;
    margin: 0 auto;
    padding: 150px 0 20px;
}
.heart-title{
    margin-bottom: 50px;
}
.heartartlist-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    margin-bottom: 20px;
}
.heartartlist-img img {
    width: 720px;
}
.heart-img{
    margin-bottom: 10px;
    height: 397px;
    overflow: hidden;
}
.heartarticle-info {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    justify-content: space-between;
    width: 720px;
    margin: 0 auto;
}
.heartarticle-info .title{
    margin: 0;
    margin-right: 61px;
}
.heartarticle-info .date{
    margin-right: 30px;
}
.heartart-btn{
    width: 80px;
    height: 30px;
    border: 1px solid #8B8B8B;
    background-color: transparent;
    color: #333333;
    cursor: pointer;
}
.heartart-btn:hover{
    background-color: #000;
    color: #fff;
}
